@use "../../node_modules/bootstrap/scss/bootstrap.scss";

#app-menu {

  .custom-switch, .btn-secondary {
    margin-top: 6px;
  }
}

.setting-group {
  
  .setting-group-linebreak { padding-top: 5px; }
  
  .setting-box {
    display: inline-block;
  }
}